* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For desktop devices */

body {
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0%;
  font-family: Avenir Book, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#result{
  font: 20px;
  color: black;
  text-align: left;
}

#result2{
  font: 20px;
  color: black;
  text-align: left;
}

.row {
  display: flex;
  justify-content: right;
  align-items: right;
}

.col {
  margin-right: 20px;
}


.container{
  max-width: 100%;
  padding: none; 
}


.container.form{
  width: 70%;
  height: auto; /* or height: 100%; */
  background-color: #ffffff;
  border: 0.5px solid rgb(166, 164, 164);
  padding-left: 5%;
  box-shadow: 0 0 1px #fff, 0 0 15px #fff, 0 0 7px #b6b4b4, 0 0 5px #8b878a, 0 0 5px #eae5e9, 0 0 8px #eee7ed, 0 0 10px #dfd7d7;
  column-gap: 10px;
}

.container.result{
  width: 75%;
  background-color: #ffffff;  
  margin-top: 20px;
  border: none;
}

/********** Menu styling - Dashboard and Tips Plan **********/

.navbar .nav-link.dropdown-toggle {
  background-color: #F15C22;
  color: white;
  font-size: large;
  border-radius: 2px;
  padding: 2px;
}

.navbar .nav-link.dropdown-toggle::after {
  content: "\2630";
  margin-left: 10px;
  font-size: 15px;
}

.navbar .nav-link.dropdown-toggle:hover{
  background-color: #090909;
}

.navbar-nav .nav-item .dropdown-menu li a.dropdown-item:first-child:hover {
  background-color: #F15C22;
  color: white;
  
}

.dropdown-menu #planBtn:hover {
  background-color: #F15C22;
  color: white;
}

/**********************************************************/

.banner {
  width: 100%;
  padding: 0%;
}
.banner img {
  display: block;
  width: 100%;
}

input[type="submit"] {
  background-color: #F15c22; /* set the background color */
  border: none; /* remove the border */
  color: white; /* set the text color */
  padding: 10px 20px; /* add some padding to the button */
  text-align: center; /* center the text */
  text-decoration: none; /* remove the underline */
  display: inline-block; /* display the button as an inline-block element */
  font-size: 16px; /* set the font size */
  margin: 4px 2px; /* add some margin */
  border-radius: 5px;
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: #d04b1c;
}

input[type=submit]:active{
  background-color: #7E2E0A;
}

#navlist {
 background-color: #ffffff;
 position: absolute;
 width: 100%;
}

#navlist a:hover {
 color: #231f20;
}
	
.search input[type=text]{
 width:300px;
 height:24px;
 border-radius:24px;
 border: none;
}
		
.search{
 float:right;
 margin: 6px;    
}
		
.search button{
 background-color: #D3D2D2;
 color: #231f20;
 padding: 6px 6px;
 margin-right: 12px;
 font-size: 10px;
 border: none;
 cursor: pointer;
}

/* Primary link button styling for tips.php */
#link{
 background-color: #F15C22;  
 color: #FFFFFf;
 border: #F15C22;
 padding: 6px 12px;
 padding-top: 6px;
 padding-right: 12px;
 padding-bottom: 6px;
 padding-left: 12px;
 margin: 4px 2px; 
 width: 130px;
 height: 36px;
 display: inline-block;
 text-align: center;
 font-size: 16px;
} 

#link:hover{
 cursor: pointer;
 background-color: #d04b1c;
}

#link:active{
  background-color: #7E2E0A;
}

/* Used for the like/dislike buttons found in tips.php */
.likeBtn .bi {
  color: #231F20;
  font-size: 1rem;
}

.dislikeBtn .bi {
  color: #231F20;
  font-size: 1rem;
}

.likeBtn {
  background-color: #E6E1DA;
  color: #464545;
  border-radius: 1px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.dislikeBtn {
  background-color: #E6E1DA;
  color: #464545;
  border-radius: 1px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.likeBtn:hover,
.dislikeBtn:hover {
  background-color: #C54A1A;
  color: #090909;
  border-color: transparent;
}

.likeBtn:active,
.dislikeBtn:active {
  background-color: #9B3A14 !important;
  border-color: #9B3A14 !important;
}

.likeBtn:disabled,
.dislikeBtn:disabled {
  background-color: #9B3A14;
  border-color: #9B3A14;
}
/* End of style for tips.php */

/* Used for the comment modal in comment_modal.html */
.btn-link {
  background-color: transparent;
  border: none;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.btn-link:hover {
  color: #C54A1A;
  text-decoration: underline;
}

.btn-secondary {
  background-color: transparent !important;
  border: none;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}

.btn-secondary:hover {
  color: #C54A1A;
  text-decoration: underline;
}

.btn-primary {
  background-color: #F15c22 !important;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  border-radius: 0;
}

.btn-primary:hover {
  background-color: #C54A1A !important;
  color: #ffffff;
  border-color: #C54A1A;
}

.btn-primary:disabled {
  background-color: #F79E7B;
  border-color: #F79E7B;
}

.negative-count {
  color: #EE4B2B;
}
/* End of style for comment_modal.html */

.btn-atp {
  background-color: #F15C22;  
  color: #FFFFFf;
  border: #F15C22;
  padding: 6px 12px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  margin: 4px 2px; 
  display: inline-block;
  text-align: center;
  font-size: 16px;
}

.btn-atp:hover {
  cursor: pointer;
  background-color: #d04b1c;
  color: white;
}

.btn-atp:active {
  background-color: #7E2E0A !important;
  color: white !important;
}

.offcanvas{
  width:12% !important;
} 

.planBottom{
  padding-top: 10px;
  padding-bottom: 10px;
}

.trashBtn .bi {
  color: #231F20;
  font-size: 1rem;
}

.trashBtn {
  background-color: #E6E1DA;
  color: #464545;
  border-radius: 1px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.trashBtn:hover {
  background-color: #C54A1A;
  color: #090909;
  border-color: transparent;
}

.trashBtn:active{
  background-color: #9B3A14 !important;
  border-color: #9B3A14 !important;
}

.trashBtn:disabled {
  background-color: #9B3A14;
  border-color: #9B3A14;
}

/* For Phones */
@media only screen and (max-width: 768px) {
  body {
    font-family: Avenir Book, sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding-left: 0px;
    
    margin-left: 0;
    margin-right: 0;
  }

  /* hide original arrow icon */
  .dropdown-toggle::after {
    display: none;
  }

  /* target the dropdown arrow */
  select {
    appearance: none;
    -webkit-appearance: none; /* Safari and Chrome */
    -moz-appearance: none; /* Firefox */
    background: transparent;
    font-size: 16px;
    padding: 8px;
    width: 100%;
    height: 500;
    position: relative;
    z-index: 1;
  }
/*
  select:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #000 transparent transparent transparent;
  }
  this doesn't work, for now there is no arrow on the dropdowns*/ 
  .search button{
    background-color: #D3D2D2;
    color: #231f20;
    padding: 6px 6px;
    margin-right: 12px;
    font-size: 10px;
    border: none;
    cursor: pointer;
   }

}
