.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.tid {
  padding-right: 10px;
}

.results-container {
  background-color: #f1f8ff; /* light blue color */
  height: 45vh;
  overflow-y: auto; /* add scrollbar if content overflows */
}
.required {
  color: red;
}

/* Style the tab */
.tab {
  overflow: hidden;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab:hover {
  background-color: rgb(241, 92, 34);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Custom color fonts for top navbar */
.custom-topbar {
  color: white;
}

.custom-topbar:hover {
  color: white;
}

.custom-topbar:focus {
  color: white;
}