.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 110%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  padding: 45px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Change from -20% to -50% */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  max-width: 50%;
  max-height: 80%;
  overflow: auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

label {
  margin-right: 10px;
}

input[type="text"], button[type="submit"] {
  padding: 10px;
  flex: 1;
  border-radius: 5px;
  border: none;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#deleteButtn {
  background-color: red;
  color: white;
}

#modal-Save {
  background-color: green;
  color: white;
}

#edit-modal button {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.tid {
  padding-right: 10px;
}

.results-container {
  background-color: #f1f8ff; /* light blue color */
  height: 45vh;
  overflow-y: auto; /* add scrollbar if content overflows */
}
.required {
  color: red;
}

/* Style the tab */
.tab {
  overflow: hidden;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab:hover {
  background-color: rgb(241, 92, 34);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Custom color fonts for top navbar */
.custom-topbar {
  color: white;
}

.custom-topbar:hover {
  color: white;
}

.custom-topbar:focus {
  color: white;
}